.design {
  width: 330px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 30px;
  background-color: rgb(245, 245, 245);
}
.ecran {
  padding: 20px 40px;
}
#ecran {
  background-color: #fff;
  margin: auto;
  height: 80px;
  padding: 10px 20px;
  font-size: 40px;
  box-shadow: 1px 1px 1px 1px #000;
  border-radius: 10px;
  border: 1px solid #000;
}
.calcul {
  padding-bottom: 20px;
  width: 330px;
  margin: auto;
  text-align: center;
}
button {
  margin: 3px 3px;
  width: 60px;
  height: 50px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px #000;
  font-size: 20px;
  font-weight: bold;
  background-color: #fff;
}
button:hover {
  box-shadow: none;
}
button:nth-child(17) {
  width: 100px;
}
button:last-child {
  width: 160px;
}
